<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195907936831-gmifr1cum83kt9vb73surslh6bbj9pf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195907936831-gmifr1cum83kt9vb73surslh6bbj9pf2</string>
	<key>API_KEY</key>
	<string>AIzaSyAPdxciJGjxKLVw4OsIVNxh70fyMuRgRMc</string>
	<key>GCM_SENDER_ID</key>
	<string>195907936831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GriDi.Thoughts</string>
	<key>PROJECT_ID</key>
	<string>thoughts-10fe7</string>
	<key>STORAGE_BUCKET</key>
	<string>thoughts-10fe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:195907936831:ios:3e274d5521bb25327d4e8a</string>
</dict>
</plist>
